body {
    background: black;
}
#canvas1 {
    background: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
}
#rightButton, #leftButton {
    background: grey;
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
}
#rightButton {
    left: 55%;
}
#leftButton {
    left: 45%;
}
#playerImage, #backgroundImage, #enemyImage {
    display: none;
}
#textDisplay {
    position: fixed;
    background: white;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}